#note{
    color: black;
    }
    
    #heading{
        border-radius: 10px;
        box-shadow: 0px 0px 50px grey;
    }
    
    canvas{
        background-color: grey;
    }

    body{
        background-size: cover;
        background-position: center;
    }

    #footer{
        background-color: grey;
        bottom: 0px;
        position:fixed;
        width: 100%;
    }